	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #1B1B1B url(images/overlay.png) repeat;
		font-family: 'Varela Round', sans-serif;
		font-size: 11pt;
		font-weight: 400;
		color: #000000;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #0000FF;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	

	.container
	{
		margin: 0px auto;
		width: 1200px;
	}
	

/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/

		form
		{
		}
		
			form label
			{
				display: block;
				text-align: left;
				margin-bottom: 0.5em;
			}
			
			form .submit
			{
				margin-top: 2em;
				background: #67128F;
				border-radius: 8px;
				line-height: 1.5em;
				font-size: 1.3em;
			}
		
			form input.text,
			form select,
			form textarea
			{
				position: relative;
				-webkit-appearance: none;
				display: block;
				border: 0;
				background: #fff;
				background: rgba(255,255,255,0.75);
				width: 100%;
				border-radius: 0.50em;
				margin: 1em 0em;
				padding: 1.50em 1em;
				box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
				border: solid 1px rgba(0,0,0,0.15);
				-moz-transition: all 0.35s ease-in-out;
				-webkit-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
				-ms-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 1em;
				outline: none;
			}

				form input.text:hover,
				form select:hover,
				form textarea:hover
				{
				}

				form input.text:focus,
				form select:focus,
				form textarea:focus
				{
					box-shadow: 0 0 2px 1px #E0E0E0;
					background: #fff;
				}
				
				form textarea
				{
					min-height: 12em;
				}

				form .formerize-placeholder
				{
					color: #555 !important;
				}

				form ::-webkit-input-placeholder
				{
					color: #555 !important;
				}

				form :-moz-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-placeholder
				{
					color: #555 !important;
				}

				form :-ms-input-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-focus-inner
				{
					border: 0;
				}


/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
		border: 1px solid rgba(0,0,0,.1);
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 3em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 1em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.20em;
		font-size: 1.2em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: rgba(255,255,255,1);
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		width: 60px;
		height: 60px;
		line-height: 60px;
		background: #6C2A6A;
		border-radius: 30px;
		text-align: center;
	}
	

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 0.6em 1em;
		background: #6C2A6A;
		border-radius: 4px;
		line-height: 1.8em;
		text-decoration: none;
		font-weight: 400;
		font-size: 1.2em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #8DCB89;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}
	
	.button-small
	{
	}
		
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.8em;
		color: #261300;
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.1em;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
	}

	#header
	{
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 5em 0em;
		text-align: center;
	}
	
	#logo h1
	{
		font-size: 3.5em;
	}
	
	
	#logo h1 a
	{
		color: #6C2A6A;
	}

	#logo a
	{
		text-decoration: none;
	}
	
	#logo span
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 0.90em;
		color: #3C3C3C;
	}

	#logo span a
	{
		color: #3C3C3C;
	}
	
	#logo .icon
	{
		display: inline-block;
		margin-bottom: 2em;
		padding: 1em;
		background: #6C2A6A;
		border-radius: 50%;
		font-size: 1.6em;
		color: #FFF;
	}
	

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
	}
	
	#menu ul
	{
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;
		margin-left: 0.50em;
		padding: 1em 1.5em;
		letter-spacing: 0.20em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: #3C3C3C;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		border: 1px solid #3C3C3C;
		border-radius: 4px;
	}
	
	#menu .current_page_item a
	{
		border: 1px solid #3C3C3C;
		border-radius: 4px;
	}
	
	

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

	#wrapper1
	{
		background: #FFF;
	}

	#wrapper2
	{
		background: #6C2A6A;
	}

	#wrapper3
	{
		overflow: hidden;
		padding: 0em 0em 8em 0em;
		background: #FFF;
	}
	
	#wrapper4
	{
		overflow: hidden;
		padding: 8em 0em 4em 0em;
	}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		overflow: hidden;
		width: 1000px;
		padding: 8em 100px 8em 100px;
		text-align: center;
		color: rgba(255,255,255,0.4);
	}
	
	#welcome .content
	{
		padding: 0em 8em;
	}
	
	#welcome .title h2
	{
		color: rgba(255,255,255,1);
	}
	
	#welcome a,
	#welcome strong
	{
		color: rgba(255,255,255,0.6);
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		padding: 8em 0em 5em 0em;
		text-align: center;
	}

	
	#footer .title h2
	{
		color: rgba(255,255,255,1);
	}


	#footer .title .byline
	{
		letter-spacing: normal;
		text-transform: capitalize;
		font-size: 1.6em;
		color: rgba(255,255,255,0.2);
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
	}
	
	#copyright p
	{
		text-align: center;
		color: rgba(255,255,255,0.2);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.4);
	}

/*********************************************************************************/
/* Newsletter                                                                    */
/*********************************************************************************/

	#newsletter
	{
		overflow: hidden;
		padding: 8em 0em;
		background: #EDEDED;
		text-align: center;
	}
	
	#newsletter .title h2
	{
		color: rgba(0,0,0,0.8);
	}
	
	#newsletter .content
	{
		width: 600px;
		margin: 0px auto;
	}
	
/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio
	{
		padding-top: 8em;
		padding-left: 10px;
	}
	
	#portfolio .box
	{
		text-align: center;
		color: rgba(0,0,0,0.7);
	}
	
	#portfolio h3
	{
		display: block;
		padding-left: 10px;
		padding-bottom: 1em;
		text-transform: uppercase;
		font-size: 1em;
		color: rgba(255, 255, 255, 0.9);
	}

	#portfolio .title
	{
		margin-bottom: 5em;
		text-align: center;
	}

	#portfolio .title h2
	{
		color: rgba(0,0,0,0.8);
	}

	#portfolio .title .byline
	{
		letter-spacing: normal;
		text-transform: capitalize;
		font-size: 1.6em;
		color: rgba(0,0,0,0.6);
	}
	
	#portfolio .icon
	{
		display: inline-block;
		margin-bottom: 2em;
		font-size: 1.6em;
		color: rgba(0,0,0,0.8);
	}

	.column1,
	.column2,
	.column3,
	.column4
	{
		width: 282px;
	}
	
	.column1,
	.column2,
	.column3
	{
		float: left;
		margin-right: 24px;
	}
	
	.column4
	{
		float: right;
	}

/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/

	#three-column
	{
		overflow: hidden;
		padding-bottom: 4em;
		text-align: center;
	}
	
	#three-column h2
	{
		margin: 1em 0em;
		text-transform: uppercase;
		font-size: 1.5em;
		font-weight: 700;
	}
	
	#three-column .icon
	{
		position: relative;
		display: block;
		margin: 0px auto 0.80em auto;
		line-height: 150px;
		font-size: 4em;
		width: 150px;
		height: 150px;
		border-radius: 100px;
		text-align: center;
		color: #632F00;
		
	}
		
	#three-column #tbox1,
	#three-column #tbox2,
	#three-column #tbox3
	{
		float: left;
		width: 320px;
		padding: 80px 40px 80px 40px;
	}
	
	#three-column .title
	{
		letter-spacing: 0.10em;
		text-align: center;
		text-transform: uppercase;
	}
	
	#three-column .title h2
	{
		font-size: 1.60em;
		font-weight: 900;
		font-family: 'Open Sans', sans-serif;
		color: #261300;
	}
	
	#three-column .title .byline
	{
		padding-top: 0.50em;
		font-size: 0.90em;
		color: #858585;
	}

	#three-column .arrow-down
	{
		border-top-color: #292929;
	}


/*********************************************************************************/
/*	 ImageUploads                                                                */
/*********************************************************************************/
	.upload-btn-wrapper {
		position: relative;
		overflow: initial;
		display: inline-block;
		opacity: 0;
	}

	.btn {
		display: inline-block;
		margin-top: 2em;
		margin-left: 1em;
		padding-top: 0.9em;
		padding-right: 1em;
		padding-bottom: 0.9em;
		padding-left: 1em;
		background: #6C2A6A;
		border-radius: 6.1px;
		border-color: white;
		line-height: 1.8em;
		color: #FFF;
		border-style: inset;
		border-width: 1px;
		font: 400 1.2em system-ui;
		font-weight: bold;

	}

	.btn2 {
		display: inline-block;
		margin-left: 6em;
		padding: 0.6em 1em;
		background: #6C2A6A;
		border-radius: 6px;
		border-color: white;
		line-height: 1.8em;
		font-weight: 400;
		font-size: 1.2em;
		font-weight: bold;
		color: #FFF;
	}

	.upload-btn-wrapper {
		width: 0px;
		height: 0px;
		opacity: 0;
	}

	.imgPreview {
		margin: 5px 15px;
		position: relative;
		width: 400px;
		height: 350px;
		border-radius: 6px;
		border-color: white;
		border-style: solid;
		background-color: #6C2A6A;
	}

	.previewText {
		width: 100%;
		margin-top: 110px;
		font-family: Courier;
		font-weight: bold;
		font-size: 3rem;
		color: white;
		text-align: center;
	}

	.imageName{
		color: #FFF;
		width: 100%;
		margin-top: 10px;
		font-family: Courier;
		font-weight: bold;
		font-size: 1.5rem;
	}

/**************************************************************************************/
/*		   	 ImageList                                                              */
/************************************************************************************/

	.tableImage{
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	table.imageList {
		margin: auto;
		width: 1000px;
		border-collapse: collapse;
		border: 1px solid #fff;
		text-align: left;
		font-family: 'Varela Round', sans-serif;
	}
	table.imageList caption {
		background-color: white;
		color: #6C2A6A;
		font-size: x-large;
		font-weight: bold;
		letter-spacing: .3em;
	}

	table.imageList thead th {
		padding: 8px;
		background-color: #e6dae5;
		font-size: large;
	}

	table.imageList thead th#imageID {
        width: 5%;
    }
    table.imageList thead th#imageName {
        width: 30%;
    }
    table.imageList thead th#objName {
        width: 65%;
    }
	

	table.imageList th, table.imageList td {
		padding: 3px;
		border-width: 1px;
		border-style: solid;
	}

	table.imageList tr.even {
		background-color: #ceb5cb;
	}

	table.imageList tr.odd {
		background-color: #9d6f99;
	}

	.imageDelete {
		background: #FFF;
		color: #6C2A6A;
		font-family: 'Varela Round', sans-serif;
		font-weight: bold;
		font-size: 1rem;
	}

	.imageDelete:hover {
		background: #6C2A6A;
		color: #FFF;
		font-family: 'Varela Round', sans-serif;
		font-weight: bold;
		font-size: 1rem;
	}

	.btnDelete{
		display: inline-block;
		padding-top: 0.9em;
		padding-right: 1em;
		padding-bottom: 0.9em;
		padding-left: 1em;
		background: #6C2A6A;
		border-radius: 6.1px;
		border-color: white;
		line-height: 1.8em;
		color: #FFF;
		border-style: inset;
		border-width: 1px;
		font: 400 1.2em system-ui;
		font-weight: bold;
	}
	.selectBook{
		width: 400px;
		color: #6C2A6A;
		font-family: 'Varela Round', sans-serif;
		font-weight: bold;
		font-size: 1rem;
		padding-bottom: 0.9em;
	}

	.selectBook state.isSelected{
		width: 300px;
		color: #9d6f99;
	}

	.selectBook state.isDisabled{
		width: 300px;
		color: purple;
	}

	.selectBook:hover{
		color: #261300;
	}
